{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <h1>Weather by me</h1>
    <p class="lead">
        Join weather by me today!
    </p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up</a></p>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div id="card1" class="card" >
        <div class="card-component card-profile-container img-circle"></div>
        <img src="../static/img/profiles/yuna.png" class="img-circle card-component card-profile" style=""/>
        <div class="horizontal-divider card-component card-divider"></div>
        <div class="card-component card-title">Photo by Yuna Kim</div>
        <div class="card-component card-time">2 hours ago</div>
        <img class="card-image" id="card-image1" src="../static/img/posts/a.png"/>
        <div class="pull-left card-replies-link card-component" id='1'>6 comments</div>
        <div class="pull-right card-reply-link card-component" id='add-reply1'>add comment</div>
      </div>
    </div>

    <div class="col-lg-6">
      
    </div>
  </div>


{% endblock %}

{% block script %}
<script src="/static/js/feed_controller.js"></script>
<script>
$(document).ready(function() {
  var feedController = new FeedController();
  feedController.init();

  top.repliesMap = {
    '1': [{'profile_url' : "../static/img/profiles/yuna2.png", 'name': 'yuna2', 'reply': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit'}, {'profile_url' : "../static/img/profiles/yuna3.png", 'name': 'yuna3', 'reply': 'Lorem ipsum dolor sit amet, consectetur'}]
  }
});
</script>
{% endblock %}