{% extends "layout.html" %}
{% block body %}

  {% if 'session_key' not in session %}
  <div class="jumbotron">
    <h1>Weather by me</h1>
    <p class="lead">
        Join weather by me today!
    </p>
    <p><a class="btn btn-lg btn-success" href="{{ url_for('signup_page') }}" role="button">Sign Up</a></p>
  </div>
  {% endif %}

  <div class="modal fade" id='add-reply-modal'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Comment</h4>
        </div>
        <div class="modal-body">
         <textarea id="comment-text" class="form-control" rows="4"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="send-reply">Send</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

{% block script %}
<script src="/static/js/feed_controller.js"></script>
<script>
$(document).ready(function() {
  top.feedController = new FeedController();
  feedController.init();
  top.commentsMap = {};
  function initialize(res, data) {
    for (i = 0; i < data.length; i++) {
      var post = data[i];
      var title = post['text'];
      var id = post['post_id'];
      var image = post['image'];
      var name = post['author']['name'];
      var pic = post['author']['pic'];
      var commentsLength = post['comments'].length
      var created_at = post['created_at']
      // alert('created at: ')
      // alert(created_at);
      var diff = new Date().valueOf() - created_at*1000;
      var diffHour = Math.round(diff/3600000);

      var diffStr = 'Just now';
      if (diffHour == 1) diffStr = '1 hour ago';
      else if (diffHour > 1) diffStr = diffHour + ' hours ago';


      var div = top.feedController.getCard(id, pic, title, name, image, commentsLength, diffStr);
      console.log('div');
      console.log(div);
      $('#contents-container').append(div);

      var comments = post['comments']
      console.log(comments);
      var commentsList = [];
      for (t = 0; t < comments.length; t++) {
        var comment = comments[t];
        commentsList.push({
            'profile_url' : comment['author']['pic'],
            'name' : comment['author']['name'],
            'reply' : comment['text']
        });
      }
      top.commentsMap[id] = commentsList;
    }
    feedController.init();
    for (key in top.commentsMap) {
      $('#' + key).html(top.commentsMap[key].length + " comments");
    }
  }


  /*
  top.repliesMap = {
    '1': [{'profile_url' : "../static/img/profiles/yuna2.png", 'name': 'yuna2', 'reply': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit'}, {'profile_url' : "../static/img/profiles/yuna3.png", 'name': 'yuna3', 'reply': 'Lorem ipsum dolor sit amet, consectetur'}]
  }
  */
  
  togglePostGet(initialize);
});
</script>
{% endblock %}
