{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <h1>Weather by me</h1>
    <p class="lead">
        Join weather by me today!
    </p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up</a></p>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-component card-profile-container img-circle"></div>
        <img src="../static/img/profiles/yuna.png" class="img-circle card-component card-profile" style=""/>
        <div class="horizontal-divider card-component card-divider"></div>
        <div class="card-component card-title">Photo by Yuna Kim</div>
        <div class="card-component card-time">2 hours ago</div>
        <img class="card-image" src="../static/img/posts/a.png"/>
      </div>
    </div>

    <div class="col-lg-6">
      
    </div>
  </div>
{% endblock %}
