{% extends "layout.html" %}
{% block head %}
<style type="text/css">
  #map-canvas { height: 700px; }
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtam7keU0dNlSmcrdmBG3X4GzwYB3b3ak&sensor=true">
</script>
<script type="text/javascript">

  function initialize() {
	navigator.geolocation.getCurrentPosition(setMapFrom);
  }

  function setMapFrom(latlng) {
  		console.log(latlng);
  		console.log(latlng.coords.latitude);
  	  var mapOptions = {
      center: new google.maps.LatLng(latlng.coords.latitude, latlng.coords.lngitude),
      zoom: 10
    };
    top.map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  $(document).ready(function() {
	  function initialize(res, data) {
	    for (i = 0; i < data.length; i++) {
	      // var post = data[i];
	      // var title = post['text'];
	      // var id = post['post_id'];
	      var image = post['image'];
	      var name = post['author']['name'];
	      var pic = post['author']['pic'];
	      var commentsLength = post['comments'].length
	      var created_at = post['created_at']
	      
	      var div = top.feedController.getCard(id, pic, title, name, image, commentsLength);
	      console.log('div');
	      console.log(div);
	      $('#contents-container').append(div);

	      var comments = post['comments']
	      console.log(comments);
	      var commentsList = [];
	      for (t = 0; t < comments.length; t++) {
	        var comment = comments[t];
	        commentsList.push({
	            'profile_url' : comment['author']['pic'],
	            'name' : comment['author']['name'],
	            'reply' : comment['text']
	        });
	      }
	      top.commentsMap[i] = commentsList;
	    }
	    for (key in top.repliesMap) {
	      $('#' + key).html(top.repliesMap[key].length + " comments");
	    }
	  }


	  /*
	  top.repliesMap = {
	    '1': [{'profile_url' : "../static/img/profiles/yuna2.png", 'name': 'yuna2', 'reply': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing elit'}, {'profile_url' : "../static/img/profiles/yuna3.png", 'name': 'yuna3', 'reply': 'Lorem ipsum dolor sit amet, consectetur'}]
	  }
	  */
	  
	  // togglePostGet(initialize);
  });
</script>
{% endblock %}

{% block body %}
<div id="map-canvas"/>
{% endblock %}