{% extends "layout.html" %}
{% block body %}
<div class="container jumbotron" style="text-align:left">

  <form class="form-signin" role="form" style="
    max-width: 330px;
    margin:0 auto;
">
        <h2 class="form-signin-heading">Add New Post</h2>

                  <div class="form-group" style="margin-bottom:0">
                    <label for="inputEmail" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputEmail" placeholder="Title">
                    </div>
                  </div>

                  <div class="form-group" style="margin-bottom:0">
                    <label for="inputPassword" class="col-lg-2 control-label">Text</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows='4' placeholder="Enter texts..."></textarea>
                    </div>
                  </div>

                  <div class="form-group" style="margin-bottom:0">
                    <label for="inputPassword" class="col-lg-2 control-label">Image</label>
                    <input type='file' style="padding-left:15px">
                  </div>

          <div class="pull-right col-lg-12">
            <button type="submit" class="btn btn-success" style="font-size:small;padding:8px 14px">Post</button>
          </div>
        </div>
        




  </form>

</div> <!-- /container -->
{% endblock %}
