{% extends "layout.html" %}
{% block body %}
<div class="container">

  <form class="form-signin" role="form" style="
    max-width: 330px;
    margin:0 auto;
">
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required="">
        <br>
<div class="form-group btns">
          <div class="pull-right col-lg-12">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
        </div>
  </form>

</div> <!-- /container -->
{% endblock %}
