{% extends "layout.html" %}
{% block body %}
<script src="/static/js/weather.js"></script>

 <div class="jumbotron">
    <div id = "test">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-component card-profile-container img-circle"></div>
        <img src="../static/img/profiles/yuna.png" class="img-circle card-component card-profile" style=""/>
        <div class="horizontal-divider card-component card-divider"></div>
        <div class="card-component card-title">Photo by Yuna Kim</div>
        <div class="card-component card-time">2 hours ago</div>
        <img class="card-image" src="../static/img/posts/a.png"/>
      </div>
    </div>

    <div class="col-lg-6">
      
    </div>
  </div>
 

{% endblock %}
